Sunspot data

http://www.sidc.be/silso/datafiles

In [2]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Information on Data:
http://www.sidc.be/silso/infosnytot

Time range: 1700 - last elapsed year

Data description:
Yearly mean total sunspot number obtained by taking a simple arithmetic mean of the daily total sunspot number over all days of each year. (NB: in early years in particular before 1749, the means are computed on only a fraction of the days in each year because on many days, no observation is available).
A value of -1 indicates that no number is available (missing value).

Error values:
The yearly standard deviation of individual data is derived from the daily values by the same formula as the monthly means:
sigma(m)=sqrt(SUM(N(d)*sigma(d)^2)/SUM(N(d)))
where sigma(d) is the standard deviation for a single day and N(d) is the
number of observations for that day.

The standard error on the yearly mean values can be computed by:
sigma/sqrt(N) where sigma is the listed standard deviation and N the total number of observations in the year.
NB: this standard error gives a measure of the precision, i.e. the sensitivity of the yearly value to different samples of daily values with random errors. The uncertainty on the mean (absolute accuracy) is only determined on longer time scales, and is thus not given here for individual yearly values.



-------------------------------------------------------------------------------
CSV
-------------------------------------------------------------------------------
Filename: SN_y_tot_V2.0.csv
Format: Comma Separated values (adapted for import in spreadsheets)
The separator is the semicolon ';'.

Contents:
Column 1: Gregorian calendar year (mid-year date)
Column 2: Yearly mean total sunspot number.
Column 3: Yearly mean standard deviation of the input sunspot numbers from individual stations.
Column 4: Number of observations used to compute the yearly mean total sunspot number.
Column 5: Definitive/provisional marker. '1' indicates that the value is definitive. '0' indicates that the value is still provisional.

In [3]:
df = pd.read_csv('SN_y_tot_V2.0.csv',sep=';',header=None,
                names=['Year','sunspots','std_sunspots','nof_observations','def_prov'])

In [4]:
df.tail()

       Year  sunspots  std_sunspots  nof_observations  def_prov
315  2015.5      69.8           6.4              8903         1
316  2016.5      39.8           3.9              9940         1
317  2017.5      21.7           2.5             11444         1
318  2018.5       7.0           1.1             12611         1
319  2019.5       3.6           0.5             12884         1

In [5]:
df.head()

     Year  sunspots  std_sunspots  nof_observations  def_prov
0  1700.5       8.3          -1.0                -1         1
1  1701.5      18.3          -1.0                -1         1
2  1702.5      26.7          -1.0                -1         1
3  1703.5      38.3          -1.0                -1         1
4  1704.5      60.0          -1.0                -1         1

#### Some quick statistics about the data

In [6]:
df.describe()

              Year    sunspots  std_sunspots  nof_observations  def_prov
count   320.000000  320.000000    320.000000        320.000000     320.0
mean   1860.000000   78.735000      4.625000       1027.778125       1.0
std      92.520268   62.065761      5.287864       2341.315819       0.0
min    1700.500000    0.000000     -1.000000         -1.000000       1.0
25%    1780.250000   24.575000     -1.000000         -1.000000       1.0
50%    1860.000000   65.550000      4.150000        365.000000       1.0
75%    1939.750000  115.475000      8.900000        365.000000       1.0
max    2019.500000  269.300000     19.100000      12884.000000       1.0

#### Modify data: remove the rows where the number of sunspots are -1

In [7]:
len(df)

320

In [8]:
df = df[df.sunspots != -1]

In [9]:
df.head()

     Year  sunspots  std_sunspots  nof_observations  def_prov
0  1700.5       8.3          -1.0                -1         1
1  1701.5      18.3          -1.0                -1         1
2  1702.5      26.7          -1.0                -1         1
3  1703.5      38.3          -1.0                -1         1
4  1704.5      60.0          -1.0                -1         1

In [10]:
len(df)

320

## visualization

In [11]:
import plotly.graph_objects as go
from ipywidgets import interact, IntSlider

In [26]:
def show_data_scatter3(year):
    
    
    plt.figure(figsize=(15,10))
    plt.plot(df['sunspots'][1::2][0:0+1*year],
        df['sunspots'][0::2][0:0+1*year],alpha=0.7)

    plt.show()
    print(df['Year'][0+1*year])
interact(show_data_scatter3,year=IntSlider(min=1, max=300));

interactive(children=(IntSlider(value=1, description='year', max=300, min=1), Output()), _dom_classes=('widgetâ€¦