Sunspot data

http://www.sidc.be/silso/datafiles

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Information on Data:
http://www.sidc.be/silso/infosnmtot



-------------------------------------------------------------------------------
CSV
-------------------------------------------------------------------------------
Filename: SN_m_tot_V2.0.csv
Format: Comma Separated values (adapted for import in spreadsheets)
The separator is the semicolon ';'.

Contents:
Column 1-2: Gregorian calendar date
- Year
- Month
Column 3: Date in fraction of year.
Column 4: Monthly mean total sunspot number.
Column 5: Monthly mean standard deviation of the input sunspot numbers.
Column 6: Number of observations used to compute the monthly mean total sunspot number.
Column 7: Definitive/provisional marker. '1' indicates that the value is definitive. '0' indicates that the value is still provisional.

In [4]:
df = pd.read_csv('SN_m_tot_V2.0.csv',sep=';',header=None,
                names=['Year','Month','frac_year',
                       'sunspots','std_sunspots','nof_observations','def_prov'])

In [5]:
df.tail()

,Year,Month,frac_year,sunspots,std_sunspots,nof_observations,def_prov
3252,2020,1,2020.042,6.4,0.7,722,0
3253,2020,2,2020.124,0.4,0.1,853,0
3254,2020,3,2020.206,1.5,0.2,937,0
3255,2020,4,2020.288,5.4,0.6,1055,0
3256,2020,5,2020.373,0.2,0.1,1171,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3257 entries, 0 to 3256
Data columns (total 7 columns):
Year                3257 non-null int64
Month               3257 non-null int64
frac_year           3257 non-null float64
sunspots            3257 non-null float64
std_sunspots        3257 non-null float64
nof_observations    3257 non-null int64
def_prov            3257 non-null int64
dtypes: float64(3), int64(4)
memory usage: 178.2 KB

#### Some quick statistics about the data

In [7]:
df.describe()

,Year,Month,frac_year,sunspots,std_sunspots,nof_observations,def_prov
count,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000
mean,1884.208781,6.494627,1884.706334,81.948941,5.552103,102.215843,0.998465
std,78.363518,3.453097,78.363260,67.883760,5.224721,213.671024,0.039157
min,1749.000000,1.000000,1749.042000,0.000000,-1.000000,-1.000000,0.000000
25%,1816.000000,3.000000,1816.874000,24.100000,-1.000000,-1.000000,1.000000
50%,1884.000000,6.000000,1884.708000,67.500000,5.300000,30.000000,1.000000
75%,1952.000000,9.000000,1952.540000,122.600000,9.400000,31.000000,1.000000
max,2020.000000,12.000000,2020.373000,398.200000,23.500000,1438.000000,1.000000

#### Modify data: remove the rows where the number of sunspots are -1

In [8]:
df = df[df.sunspots != -1]

In [9]:
df.head()

   Year  Month  frac_year  sunspots  std_sunspots  nof_observations  def_prov
0  1749      1   1749.042      96.7          -1.0                -1         1
1  1749      2   1749.123     104.3          -1.0                -1         1
2  1749      3   1749.204     116.7          -1.0                -1         1
3  1749      4   1749.288      92.8          -1.0                -1         1
4  1749      5   1749.371     141.7          -1.0                -1         1

In [10]:
len(df)

3257

## visualization

In [14]:
import plotly.graph_objects as go
from ipywidgets import interact, IntSlider

In [20]:
def show_data_scatter3(day):
    
    
    plt.figure(figsize=(15,15))
    plt.scatter(x= df['sunspots'][1::2][0:0+30*day],
        y = df['sunspots'][0::2][0:0+30*day],s=5,alpha=0.5)

    plt.show()
    
interact(show_data_scatter3,day=IntSlider(min=1, max=54));

interactive(children=(IntSlider(value=1, description='day', max=54, min=1), Output()), _dom_classes=('widget-i…

In [23]:
def show_data_scatter3(day):
    
    
    plt.figure(figsize=(15,15))
    plt.plot(df['sunspots'][1::2][100:100+10*day],
        df['sunspots'][0::2][100:100+10*day],alpha=0.5)

    plt.show()
    
interact(show_data_scatter3,day=IntSlider(min=1, max=150));

interactive(children=(IntSlider(value=1, description='day', max=150, min=1), Output()), _dom_classes=('widget-…