Sunspot data

http://www.sidc.be/silso/datafiles

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Information on Data:
http://www.sidc.be/silso/infosnmstot


-------------------------------------------------------------------------------
CSV
-------------------------------------------------------------------------------
Filename: SN_ms_tot_V2.0.csv
Format: Comma Separated values (adapted for import e.g. in MS Excel)

Contents:
Column 1-2: Gregorian calendar date
- Year
- Month
Column 3: Date in fraction of year
Column 4: Monthly smoothed total sunspot number.
Column 5: Monthly mean standard deviation of the input sunspot numbers.
Column 6: Number of observations used to compute the corresponding monthly mean total sunspot number.
Column 7: Definitive/provisional marker.'1' indicates that the value is definitive. '0' indicates that the value is still provisional.

In [2]:
df = pd.read_csv('SN_ms_tot_V2.0.csv',sep=';',header=None,
                names=['Year','Month','frac_year',
                       'sunspots','std_sunspots','nof_observations','def_prov'])

In [3]:
df.tail()

,Year,Month,frac_year,sunspots,std_sunspots,nof_observations,def_prov
3252,2020,1,2020.042,-1.0,-1.0,722,0
3253,2020,2,2020.124,-1.0,-1.0,853,0
3254,2020,3,2020.206,-1.0,-1.0,937,0
3255,2020,4,2020.288,-1.0,-1.0,1055,0
3256,2020,5,2020.373,-1.0,-1.0,1171,0

In [4]:
df.head()

   Year  Month  frac_year  sunspots  std_sunspots  nof_observations  def_prov
0  1749      1   1749.042      -1.0          -1.0                -1         1
1  1749      2   1749.123      -1.0          -1.0                -1         1
2  1749      3   1749.204      -1.0          -1.0                -1         1
3  1749      4   1749.288      -1.0          -1.0                -1         1
4  1749      5   1749.371      -1.0          -1.0                -1         1

#### Some quick statistics about the data

In [5]:
df.describe()

,Year,Month,frac_year,sunspots,std_sunspots,nof_observations,def_prov
count,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000,3257.000000
mean,1884.208781,6.494627,1884.706334,81.721216,5.625545,102.215843,0.996623
std,78.363518,3.453097,78.363260,63.299827,5.130740,213.671024,0.058026
min,1749.000000,1.000000,1749.042000,-1.000000,-1.000000,-1.000000,0.000000
25%,1816.000000,3.000000,1816.874000,25.300000,-1.000000,-1.000000,1.000000
50%,1884.000000,6.000000,1884.708000,71.900000,5.500000,30.000000,1.000000
75%,1952.000000,9.000000,1952.540000,119.300000,9.500000,31.000000,1.000000
max,2020.000000,12.000000,2020.373000,285.000000,19.800000,1438.000000,1.000000

#### Modify data: remove the rows where the number of sunspots are -1

In [7]:
len(df)

3257

In [8]:
df = df[df.sunspots != -1]

In [9]:
df.head()

    Year  Month  frac_year  sunspots  std_sunspots  nof_observations  def_prov
6   1749      7   1749.538     135.9          -1.0                -1         1
7   1749      8   1749.623     137.9          -1.0                -1         1
8   1749      9   1749.707     140.2          -1.0                -1         1
9   1749     10   1749.790     143.8          -1.0                -1         1
10  1749     11   1749.874     146.4          -1.0                -1         1

In [10]:
len(df)

3245

## visualization

In [11]:
import plotly.graph_objects as go
from ipywidgets import interact, IntSlider

In [14]:
def show_data_scatter3(day):
    
    
    plt.figure(figsize=(15,15))
    plt.scatter(x= df['sunspots'][1::2][0:0+30*day],
        y = df['sunspots'][0::2][0:0+30*day],s=5,alpha=0.5)

    plt.show()
    
interact(show_data_scatter3,day=IntSlider(min=1, max=54));

interactive(children=(IntSlider(value=1, description='day', max=54, min=1), Output()), _dom_classes=('widget-iâ€¦